@import '../../sass/base';

.item-collection__container {
  position: relative;
  margin: 1.5rem 3rem;
  max-width: calc(100vw - 250px - 6rem);
  overflow: auto;

  &--sides {
    display: inline-flex;
  }
}

.item-collection__title {
  margin-bottom: 1rem;
  font-size: 2.1rem;
}