@import "./base";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  font-family: "Nunito", sans-serif;
  height: 7rem;
  background-color: $primary-light;
  display: flex;
}

.content {
  display: flex;
  flex: 1;
  height: calc(100vh - 7rem);
}

.sidebar {
  font-family: "Nunito", sans-serif;
  background-color: $dark-2;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-section {
  background-color: $dark-1;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__heading {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  &__wrap {
    height: 100%;
    align-items: center;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}
.movie-section {
  font-family: "Open Sans", sans-serif;
  margin: 1rem 0rem 0rem 2rem;
  height: calc(100vh - 7rem);
  // height: 100%;
  overflow: scroll;
  overflow-x: hidden;

}
