.main-section {
    overflow: scroll;
    overflow-x: hidden;

    &__heading {
        height: 6rem;
        display: flex;
        align-items: flex-end;
        margin-left: 6rem;
        font-size: 2.4rem;
    }

    &__wrap {
        height: 50vh;
        margin: 1.5rem 2.5rem;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
}
