.main-section {
    overflow: scroll;
    overflow-x: hidden;
    height: 90vh;
    padding: 3rem;

    &__heading {
        display: flex;
        align-items: flex-end;
        // margin-left: 6rem;
        font-size: 2.4rem;
    }

    &__wrap {
        height: 100%;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}

.row {
    margin-bottom: 2rem;
}