.side-nav {
    font-weight: 200;
    list-style: none;
    margin-top: 2rem;

    &__icon {
        margin-right: 0.75rem;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0.3rem;
            background-color: $dark-1;
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
                background-color 0.1s;
        }

        &:hover::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: $primary-light;
        }
    } // nav__item

    &__link--active {
        background-color: $dark-1;
        color: $primary-light !important;

        &:active {
            background-color: $primary-light;
            color: $light-1 !important;
        }
    }

    &__link:link,
    &__link:visited {
        padding: 1.25rem 2rem;
        color: $light-1;
        text-decoration: none;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }
} // side-nav
