@import "../../sass/base";

.home {
  font-family: "Open Sans", sans-serif;
  margin: 0 !important;
  position: relative;
  background-image: linear-gradient($dark-1 5rem, rgba(black, 0.8)),
    url("../../assets/background-hero.jpg");

  &__wrap {
    margin-top: 10rem;
    // text-align: center;
  }

  & .logged-user {
    // font-weight: 300;
    font-size: 2rem;
    margin-top: -7rem;
    margin-left: 4.5rem;
  }
  & h1,
  & h2 {
    margin: 1rem 0 0 2rem;
  }
  & h1 {
    font-weight: 700;
  }

  & p {
    font-weight: 300;
  }
}
