@import "../../sass/base";

.comment {
  &__wrapper {
    margin-bottom: 1rem;
    border: solid 1px $light-2;
    padding: 1rem;
    border-radius: .5rem;
  }
  
  &-title {
    color: $light-1;
  }
  
  &-content {
    color: $light-2;
    font-family: "Open Sans", sans-serif;
  }
}

.media {
  display: flex;
  align-items: center;
}