@import "../../sass/base";

.comment {
  font-family: "Open Sans", sans-serif;
  position: relative;
  &__wrapper {
    margin-bottom: 1rem;
    border: solid 1px $light-2;
    padding: 1rem;
    border-radius: .5rem;
  }
  
  &-title {
    color: $light-1;
    font-family: "Open Sans", sans-serif;
  }
  
  &-content {
    color: $light-2;
  }
  &__user-image {
    width: 7rem;
    height: 7rem;
  }

  &__left-side {
    display: flex;
    align-items: center;
  }

  &__delete-btn {
    color: rgb(133, 26, 26);
    font-weight: 800;
    cursor: pointer;
  }
}

.text-muted {
  margin: 0;
}
.media {
  display: flex;
}

.comment-avatar {
  height: 7rem;
  width: 7rem;
  fill: $light-2;
}