@import "../../sass/base";

.sign-in-up {
  height: 100%;
  background-image: linear-gradient($dark-1 5rem, rgba(black, 0.8)),
    url("../../assets/background-hero.jpg");
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & .warning {
    font-weight: 300;
    color: $light-1;
    margin: 0;

    &__wrap {
      text-align: center;
    }
  }

  &__wrapper {
    width: 850px;
    display: flex;
    justify-content: space-between;
  }
  
  
}